body{
    /* margin: 0; */
    padding: 0;
}

.contact{
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    background-color: rgba(27, 246, 210, 0.652);
    border-radius: 10px;
border-style: dotted solid;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    width: clamp(300px,80vw,600px);
    height: 50vh;
    margin: 20vh;
    color: rgb(107, 74, 163);
}
.find {
    display: block;
    margin: auto;
    font-size: 21px;

}